<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Connection settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://POSTGRES_HOST:POSTGRES_PORT/POSTGRES_DATABASE?prepareThreshold=0</property>
		<property name="hibernate.connection.username">POSTGRES_USER</property>
		<property name="hibernate.connection.password">POSTGRES_PASSWORD</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>

		<!-- Print executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create database on startup -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!-- <property name="hibernate.search.default.directory_provider">filesystem</property> 
			<property name="hibernate.search.default.indexBase">target/indexes</property> -->
		<mapping class="com.home.hibernate.entity.Person" />
		<mapping class="com.home.hibernate.entity.Vehicle" />
		<mapping class="com.home.hibernate.entity.Phone" />
		<mapping class="com.home.hibernate.entity.House" />
		<mapping class="com.home.hibernate.entity.Owner" />
		<mapping class="com.home.hibernate.entity.CarOwner" />
		<mapping class="com.home.hibernate.entity.Car" />
		<mapping class="com.home.hibernate.entity.TwoWheeler" />
		<mapping class="com.home.hibernate.entity.FourWheeler" />


	</session-factory>
</hibernate-configuration>


